<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">UFC Fighter Tracker</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weightClasses">Weight Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addFighter">Add Fighter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favoriteFighters">Favorite Fighters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signout">Sign Out</a>
        </li>
      </ul>
    </div>
    <form class="form-inline" action="#" th:action="@{/fighters}"  method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="searchTerm" id="searchTerm">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>